<h1 class="text-center">You have signed out</h1>
<div class="text-center">
    <a asp-action="SignIn" asp-controller="Account" class="btn btn-danger"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>  Login</a>
</div>