<ul class="nav navbar-nav navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="navbar-text">
            @User.Identity.Name
        </li>
        <li>
            <a asp-action="SignOut" asp-controller="Account">Sign out</a>
        </li>
    }
    else
    {
        <li>
            <a asp-action="SignIn" asp-controller="Account">Sign in</a>
        </li>
    }
</ul>